objects/ @Jo-Neto
server-modules/ @Jo-Neto
http-server.js @Jo-Neto  
socket-server.js @Jo-Neto 
front-end/ @viniciusna @flaaaaaavis @Ferr50 @Jo-Neto 
CODEOWNERS @viniciusna
package.json @Jo-Neto
database/ @Jo-Neto